@model Hidromil.Models.Kontakt
@{
    Layout = "_LayoutGalerijaAdmin";
    ViewData["Title"] = "Izmena informacija";
}
@{
    Kontakt kontakt = ViewBag.Kontakt;
}
<form method="post">
    <div class="container">
        <div class="row">
            <div>
                <div>
                    Email: @kontakt.Email
                </div>
                <div>
                    Broj mobilnog telefona: @kontakt.MobilniBr
                </div>
                <div>
                    Broj fiksnog telefona: @kontakt.FiksniBr
                </div>
            </div>
            <div>
                <div>
                    Nova email adresa:
                    <input type="text" asp-for="@Model.Email" />
                </div>
                <div>
                    Nov broj mobilnog telefona:
                    <input type="text" asp-for="@Model.MobilniBr" />
                </div>
                <div>
                    Nov broj fiksnog telefona:
                    <input type="text" asp-for="@Model.FiksniBr" />
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <input type="submit" value="Sačuvaj promene" asp-controller="Admin" asp-action="UpdateKontakt" />
            </div>
            <div>
                <input type="submit" value="Vrati se nazad" asp-controller="Admin" asp-action="AdminKontakt1" />
            </div>
        </div>
    </div>
</form>
